# ======================
# NODE.JS
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Variables de entorno
.env

# ======================
# ARCHIVOS GENERADOS
# ======================
dist/
build/
out/

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# SISTEMA OPERATIVO
# ======================
.DS_Store
Thumbs.db

# ======================
# VISUAL STUDIO CODE
# ======================
.vscode/

# ======================
# VISUAL STUDIO (C#)
# ======================
bin/
obj/
*.user
*.suo
*.cache
*.pdb

# ======================
# ARCHIVOS TEMPORALES
# ======================
*.tmp
*.temp

# ======================
# OTROS
# ======================
coverage/